@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div>
        <container>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Cotações Do Dia</th>
                        <th scope="col"></th>
                    </tr>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Produto</th>
                        <th scope="col">Preço Compra (R$)</th>
                        <th scope="col">Variação (%)</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <th scope="row">1</th>
                        <td>Soja</td>
                        <td>173,34</td>
                        <td>-0,62</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Sorgo</td>
                        <td>57,60</td>
                        <td>+4,11</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Milho</td>
                        <td>67,80</td>
                        <td>-0,07</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Arroz</td>
                        <td>82,58</td>
                        <td>+0,62</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Trigo</td>
                        <td>1.826,61</td>
                        <td>+0,57</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Café</td>
                        <td>558,13</td>
                        <td>+0,60</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Açúcar</td>
                        <td>131,71</td>
                        <td>+1,38</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Boi Gordo</td>
                        <td>239,25</td>
                        <td>+0,41</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>Frango</td>
                        <td>8,10</td>
                        <td>0,00</td>
                    </tr>
                </tbody>
            </table>
        </container>
    </div>
</header>


