@model SistemaWebCooperativa.Models.Producao

@{
    ViewData["Title"] = "Criar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Criar</h1>

<h4>Producao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cooperadoid" class="control-label"></label>
                <select asp-for="cooperadoid" class ="form-control" asp-items="ViewBag.cooperadoid"></select>
            </div>
            <div class="form-group">
                <label asp-for="produtoid" class="control-label"></label>
                <select asp-for="produtoid" class ="form-control" asp-items="ViewBag.produtoid"></select>
            </div>
            <div class="form-group">
                <label asp-for="quantidade" class="control-label"></label>
                <input asp-for="quantidade" class="form-control" />
                <span asp-validation-for="quantidade" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
